[submodule "devices/Linksys_E2500_v3"]
	path = devices/Linksys_E2500_v3
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Linksys_E2500_v3.git
[submodule "devices/Linksys_WRT160N_v3"]
	path = devices/Linksys_WRT160N_v3
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Linksys_WRT160N_v3.git
[submodule "devices/Arris_Surfboard_SBG6700_591330-011"]
	path = devices/Arris_Surfboard_SBG6700_591330-011
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Arris_Surfboard_SBG6700_591330-011.git
[submodule "devices/eero_Pro_B010001"]
	path = devices/eero_Pro_B010001
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_eero_Pro_B010001.git
[submodule "devices/NETGEAR_R6120"]
	path = devices/NETGEAR_R6120
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_NETGEAR_R6120.git
[submodule "devices/SONY_CD_DVD_Player_DVP-NF575P"]
	path = devices/SONY_CD_DVD_Player_DVP-NF575P
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_SONY_CD_DVD_Player_DVP-NF575P.git
[submodule "devices/SONY_BLU-RAY_Disc_DVD_Player_BDP-S580"]
	path = devices/SONY_BLU-RAY_Disc_DVD_Player_BDP-S580
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_SONY_BLU-RAY_DISC_DVD_PLAYER_BDP-S580.git
[submodule "devices/Amazon_CloudCam_PB40JL"]
	path = devices/Amazon_CloudCam_PB40JL
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Amazon_CloudCam_PB40JL.git
[submodule "devices/template"]
	path = devices/template
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_template.git
[submodule "devices/YOGASLEEP_ROHM_3RUS1WTBU"]
	path = devices/YOGASLEEP_ROHM_3RUS1WTBU
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_YOGASLEEP_ROHM_3RUS1WTBU.git
[submodule "devices/Mystery_Wireless_Doorbell"]
	path = devices/Mystery_Wireless_Doorbell
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Mystery_Wireless_Doorbell.git
[submodule "devices/HoMedics_SoundSpa_SS-2000A"]
	path = devices/HoMedics_SoundSpa_SS-2000A
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_HoMedics_SoundSpa_SS-2000A.git
[submodule "devices/iHome_iP97"]
	path = devices/iHome_iP97
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_iHome_iP97.git
[submodule "devices/Belkin_N600_F9K1102V1_v1000"]
	path = devices/Belkin_N600_F9K1102V1_v1000
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Belkin_N600_F9K1102V1_v1000.git
[submodule "tools/flashrom"]
	path = tools/flashrom
	url = git@github.com:stump-creek-technical-services-llc/flashrom.git
[submodule "devices/VTech_RM5752"]
	path = devices/VTech_RM5752
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_VTech_RM5752.git
[submodule "devices/Wemo_Mini_F7C063"]
	path = devices/Wemo_Mini_F7C063
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Wemo_Mini_F7C063.git
[submodule "devices/Dell_PowerEdge_Servers"]
	path = devices/Dell_PowerEdge_Servers
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Dell_PowerEdge_Servers.git
[submodule "devices/TP-LINK_AV1000_TL-PA7017"]
	path = devices/TP-LINK_AV1000_TL-PA7017
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_TP-LINK_AV1000_TL-PA7017.git
[submodule "devices/NETGEAR_C3000"]
	path = devices/NETGEAR_C3000
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_NETGEAR_C3000.git
[submodule "tools/Teyleten_Robot_FT4232HL-5V_3.3V"]
	path = tools/Teyleten_Robot_FT4232HL-5V_3.3V
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Teyleten_Robot_FT4232HL-5V_3.3V.git
[submodule "tools/CP2102_USB-TTL_BOARD_v3.0"]
	path = tools/CP2102_USB-TTL_BOARD_v3.0
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_CP2102_USB-TTL_BOARD_v3.0.git
[submodule "tools/Diymall_HM-11"]
	path = tools/Diymall_HM-11
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Diymall_HM-11.git
[submodule "tools/Maikrt_USB_TO_TTL_v287"]
	path = tools/Maikrt_USB_TO_TTL_v287
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Maikrt_USB_TO_TTL_v287.git
[submodule "tools/Adafruit_FT232H_Breakout_2246"]
	path = tools/Adafruit_FT232H_Breakout_2246
	url = git@github.com:stump-creek-technical-services-llc/hardware_hacking_Adafruit_FT232H_Breakout_2246.git
