# Do not commit non-sharable firmware.
firmware-copyrighted/

# .gitmodules is ignored so that links to private firmware-copyrighted repos don't get shared with the public.
# Even if you don't mind disclosing the URL, the repo itself should not be publicly accessible,
# and thus will error out when others run `git clone --recursive`.
# When you really need to update `.gitmodules`, ensure that it doesn't include firmware-copyrighted,
# and use `git add -f` to add it to your commit. Don't remove it from `.gitignore`.
.gitmodules
